<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialVisualizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="LiveCharts" publicKeyToken="c5935629d38af058" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.3.5" newVersion="0.9.3.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LiveCharts.Wpf" publicKeyToken="3b585c2a5f1a92c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.3.5" newVersion="0.9.3.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SerialVisualizer.Properties.Settings>
      <setting name="COMPort" serializeAs="String">
        <value>COM22</value>
      </setting>
    </SerialVisualizer.Properties.Settings>
  </userSettings>
</configuration>